@model MVC_Project_1.Models.MessageModel

<div style="font-size:32pt">
    <span>
        @Model.MessageId
        <br />
        @Model.Message
        <br />
    </span>
</div>

<a href="/Home/Index">Index</a>
@* @ means razor, whenever you see @ in front of a line, that means the line runs a C# code *@ 